<section>
	<header class="page-header">
		<h1>
			{{balance.title}}<br>
			<small>{{balance.subtitle}}</small>
		</h1>
	</header>
	<section class="span4">
		<table class="table table-hover table-condensed">
			<thead>
				<tr><th>Balance</th><th>Account</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in balance.balances" class="{{row.['row-class']}}">
					<td class="currency {{row.['balance-class']}}">{{row.balance}}</td>
					<td style="{{row.['account-style']}}"><a href="/TODO_register_link">{{row.account}}</a></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
